<div>
    <h4>@Direccion.TipoDireccion</h4>
    <p>@Direccion.Direccion</p>
    <p>@Direccion.Departamento</p>
    <p>@Direccion.Ciudad</p>
</div>

@code {
    [Parameter]
    public Direcciones Direccion { get; set; }
}

