@page "/componentes"

<h3>Componentes</h3>

<div class="row">
    <div class="col-6 bg-secondary">
        <Counter valorInicial="13" EncabezadoPagina="Conta" />
    </div>
    <div class="col-6 bg-success">
        <Counter valorInicial="8" EncabezadoPagina="Título Contador" />

    </div>
</div>


@code {

}

